click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fitter==1.7.1
fonttools==4.53.1
importlib==1.0.4
joblib==1.4.2
kiwisolver==1.4.5
llvmlite==0.43.0
loguru==0.7.2
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
nolitsa @ git+https://github.com/manu-mannattil/nolitsa.git@ccd9fab08a88fbc6ff63f0fae28730ccb74754de
numba==0.60.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
rich==13.7.1
rich-click==1.8.3
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
